@model DarkHorse.Mvc.Models.RealAccountDetail;

@{
    ViewData["Title"] = "Real Property Account";
    // This page is a direct recreation of
    // LISRPASACCTFILTER
}

<p class="display-4 pr-3">🏠 Real Property Account</p>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Account</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.ACCT_NO" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Process #</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.RP_ACCT_ID" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        switch (Model.Account.WORK_GROUP)
                        {
                            case "RS":
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option1"> Commerical
                                </label>
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option2" checked> Residential
                                </label>
                                break;
                            case "CM":
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" checked> Commerical
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option2"> Residential
                                </label>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Reference Date</span>
                </div>
                <input type="text" class="form-control" value="@Model?.Account?.REFERENCE_DT?.ToShortDateString()">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">

                <div class="input-group-prepend">
                    <span class="input-group-text">Inactive Date</span>
                </div>
                <input type="text" class="form-control" value="@Model?.Account?.INACTIVE_DT?.ToShortDateString()">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Section Township Range</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.SEC_TWN_RNG">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Quarter Section</span>
                </div>
                @{
                    if (Model?.Account?.QUARTER_SECTION != null)
                    {
                        switch (Model?.Account?.QUARTER_SECTION)
                        {
                            case "NE":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option selected="selected">NE</option>
                                    <option>NW</option>
                                    <option>SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "NW":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option selected="selected">NW</option>
                                    <option>SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "SE":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option>NW</option>
                                    <option selected="selected">SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "SW":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option>NW</option>
                                    <option>SE</option>
                                    <option selected="selected">SW</option>
                                </select>
                                break;
                        }
                    }
                    else
                    {
                        <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                            <option></option>
                            <option>NE</option>
                            <option>NW</option>
                            <option>SE</option>
                            <option>SW</option>
                        </select>
                    }
                }
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Map Number</span>
                    </div>
                    <input type="text" class="form-control" value="@Model.Account.MAP_NO">
                    @*This won't work unless the tax maps are avalible via https*@
                    <a class="btn btn-info" role="button" href="ftp://kcftp2.co.kitsap.wa.us/assr/taxmaps/t251e(l)/l23s.pdf" target="_blank" rel="noreferrer">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Neighborhood Code</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.NEIGHBORHOOD_CODE">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tax Service</span>
                </div>
                <input type="text" class="form-control" value="" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                @{
                    var outputZones = string.Empty;
                    foreach (var parcel in Model?.Parcels)
                    {
                        outputZones += $"{parcel?.Z_CODE}, ";
                    }
                    outputZones = outputZones.Length > 2 ? outputZones.Substring(0, outputZones.Length - 2) : outputZones;
                    <div class="input-group-prepend">
                        <span class="input-group-text">Zone</span>
                    </div>
                    <input type="text" class="form-control" value="@outputZones" readonly>
                }
            </div>
        </div>
        <div class="col-4">
            @*<div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Personal Property</span>
                    </div>
                    <input type="text" class="form-control" value="@Model.Account.PP_AS_RP_FLAG">
                </div>*@
            <div class="input-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        if (Model.Account.PP_AS_RP_FLAG == 'Y')
                        {
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked> Personal Property
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-outline-secondary">
                                <input type="checkbox"> Personal Property
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="btn-group col-4">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Details
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Real" asp-action="TaxYears" asp-route-id="@Model.Account.RP_ACCT_ID">Tax Year</a>
                <a class="dropdown-item" href="#">Account History by Owner</a>
                <a class="dropdown-item" href="#">Associated Accounts</a>
                <a class="dropdown-item" href="#">Cadastral</a>
                <a class="dropdown-item" href="#">Foreclosure</a>
                <a class="dropdown-item" href="#">Local Improvement District</a>
                <a class="dropdown-item" href="#">Receipts and Refunds</a>
                <a class="dropdown-item" href="#">Senior Citizen</a>
                <a class="dropdown-item" href="#">Destroyed Property Exemption</a>
                <a class="dropdown-item" href="#">Distraints</a>
                <a class="dropdown-item" href="#">Three Year Exemption</a>
            </div>
        </div>
        <a class="btn btn-info col-4" asp-controller="Real" asp-action="ChangeHistory" asp-route-id="@Model.Account.RP_ACCT_ID" role="button">ATS Change History</a>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="home" aria-selected="true">
            Contacts
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="legal-tab" data-toggle="tab" href="#legal" role="tab" aria-controls="home" aria-selected="true">
            Legal
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="situs-tab" data-toggle="tab" href="#situs" role="tab" aria-controls="home" aria-selected="true">
            Site Address
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="inspections-tab" data-toggle="tab" href="#inspections" role="tab" aria-controls="home" aria-selected="true">
            Inspections
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="acctgroup-tab" data-toggle="tab" href="#acctgroup" role="tab" aria-controls="home" aria-selected="true">
            Account Group
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="notices-tab" data-toggle="tab" href="#notices" role="tab" aria-controls="home" aria-selected="true">
            Notices
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="home" aria-selected="true">
            Sales
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tags-tab" data-toggle="tab" href="#tags" role="tab" aria-controls="home" aria-selected="true">
            Account Tags
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="buildings-tab" data-toggle="tab" href="#buildings" role="tab" aria-controls="home" aria-selected="true">
            Buildings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="prepaycontact-tab" data-toggle="tab" href="#prepaycontact" role="tab" aria-controls="home" aria-selected="true">
            Prepayment Contact
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        @{
            if (Model.Contacts.Any())
            {
                foreach (var contact in Model?.Contacts)
                {
                    <table class="table table-bordered table-hover table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Type
                                </th>
                                <th scope="col">
                                    Reason
                                </th>
                                <th scope="col">
                                    Begin Date
                                </th>
                                <th scope="col">
                                    End Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                <tr onclick="showContact(@contact.GetHashCode())">
                                    <td scope="row">
                                        @contact.NAME
                                    </td>
                                    <td>
                                        @contact.CONTACT_TYPE
                                    </td>
                                    <td>
                                        @contact.CHG_CODE
                                    </td>
                                    <td>
                                        @contact?.BEGIN_DT.ToShortDateString()
                                    </td>
                                    <td>
                                        @contact?.END_DT?.ToShortDateString()
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <div class="contactDetail" id="@contact.GetHashCode()">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Name Continued</span>
                                        </div>
                                        <input type="text" class="form-control" value="@contact.MISC_LINE1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            @{
                                                if (contact.MAIL_TS_FLAG == 'Y')
                                                {
                                                    <label class="btn btn-secondary active">
                                                        <input type="checkbox" checked> Mail Tax Statement
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="btn btn-outline-secondary">
                                                        <input type="checkbox"> Mail Tax Statement
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Street Address</span>
                                        </div>
                                        <input type="text" class="form-control" value="@contact.STREET_ADDR">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            @{
                                                if (contact.MAIL_COPY_FLAG == 'Y')
                                                {
                                                    <label class="btn btn-secondary active">
                                                        <input type="checkbox" checked> Mail Tax Statement Copy
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="btn btn-outline-secondary">
                                                        <input type="checkbox"> Mail Tax Statement Copy
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@contact.MISC_LINE2">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            @{
                                                if (contact.MAIL_NOTICE_FLAG == 'Y')
                                                {
                                                    <label class="btn btn-secondary active">
                                                        <input type="checkbox" checked> Mail Notice
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="btn btn-outline-secondary">
                                                        <input type="checkbox"> Mail Notice
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">City</span>
                                        </div>
                                        <input type="text" class="form-control" value="@contact.CITY">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-secondary col-12">Link Contact</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">State</span>
                                        </div>
                                        <input type="text" class="form-control" value="@contact.STATE">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Zip Code</span>
                                        </div>
                                        <input type="text" class="form-control" value="@contact.ZIP_CODE">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@contact.ZIP_EXTENSION">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a type="button" class="btn btn-secondary col-12" asp-controller="Real" asp-action="Contact" asp-route-id="@contact.CONTACT_ID">Add Contact</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a type="button" class="btn btn-secondary col-12" asp-controller="Common" asp-action="Contact" asp-route-id="@contact.CONTACT_ID">Review Contact Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No contacts found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="legal" role="tabpanel" aria-labelledby="legal-tab">
        @{
            if (Model.LegalDescriptions.Any())
            {
                foreach (var legal in Model.LegalDescriptions)
                {
                    <div class="form-group mt-3">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Begin Date</span>
                                    </div>
                                    <input type="datetime-local" class="form-control" value="@legal?.BEGIN_DT.ToString("yyyy-MM-ddThh:ss")">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">End Date</span>
                                    </div>
                                    <input type="datetime-local" class="form-control" value="@legal?.END_DT?.ToString("yyyy-MM-ddThh:ss")">
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary col-12" onclick="window.print()">Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" value="@Model.Plat.PLAT_NAME" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" aria-label="With textarea">@legal.LEGAL_TEXT</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No legal description found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="situs" role="tabpanel" aria-labelledby="situs-tab">
        @{
            if (Model.SiteAddresses.Any())
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped mt-3">
                        <thead>
                            <tr>
                                <th>
                                    Jurisdiction
                                </th>
                                <th>
                                    Street Address
                                </th>
                                <th>
                                    Zip Code
                                </th>
                                <th>
                                    In Use
                                </th>
                                <th>
                                    Primary
                                </th>
                                <th>
                                    Verified Date
                                </th>
                                <th>
                                    Unit Number
                                </th>
                                <th>
                                    Address Label
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var address in Model.SiteAddresses)
                                {
                                    <tr>
                                        <td>
                                            @address.JURISDICTION
                                        </td>
                                        <td>
                                            @address.STREET_ADDR
                                        </td>
                                        <td>
                                            @address.ZIP_CODE
                                        </td>
                                        <td>
                                            @address.IN_USE_FLAG
                                        </td>
                                        <td>
                                            @address.PRIMARY_FLAG
                                        </td>
                                        <td>
                                            @address.VERIFIED_DT
                                        </td>
                                        <td>
                                            @address.SUITE_UNIT
                                        </td>
                                        <td>
                                            @*What are address labels???*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No site addresses found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="inspections" role="tabpanel" aria-labelledby="inspections-tab">
        @{
            if (Model.Inspections.Any())
            {
                foreach (var permit in Model?.Inspections)
                {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Jurisdiction
                                    </th>
                                    <th>
                                        Source
                                    </th>
                                    <th>
                                        Application #
                                    </th>
                                    <th>
                                        Permit Type
                                    </th>
                                    <th>
                                        Date Issued
                                    </th>
                                    <th>
                                        Permit Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    <tr>
                                        <td>
                                            @permit.NewConstruction?.CREATED_DT
                                        </td>
                                        <td>
                                            @permit.NewConstruction?.JURISDICTION
                                        </td>
                                        <td>
                                            @permit.NewConstruction?.ROW_SOURCE
                                        </td>
                                        <td>
                                            @permit.NewConstruction?.APPLICATION_ID
                                        </td>
                                        <td>
                                            @permit.NewConstruction?.PERMIT_TYPE_CODE
                                        </td>
                                        <td>
                                            @*date issued*@
                                        </td>
                                        <td>
                                            @*permit  status*@
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Inspection Date
                                    </th>
                                    <th>
                                        Inspector
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Posted Date
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var inspect in permit?.Inspections)
                                    {
                                        <tr>
                                            <td>
                                                @inspect?.INSPECTION_DT
                                            </td>
                                            <td>
                                                @inspect?.INSPECTOR
                                            </td>
                                            <td>
                                                @{
                                                    var status = string.Empty;
                                                    switch (inspect?.NC_STATUS)
                                                    {
                                                        case "C":
                                                            status = "Complete";
                                                            break;
                                                        case "P":
                                                            status = "Partial";
                                                            break;
                                                        default:
                                                            status = inspect?.NC_STATUS;
                                                            break;

                                                    }
                                                    @status
                                                }
                                            </td>
                                            <td>
                                                @inspect?.POSTED_DT
                                            </td>
                                            <td>
                                                @inspect?.NC_VALUE
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }

            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No inspections found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="acctgroup" role="tabpanel" aria-labelledby="acctgroup-tab">
        @{
            if (Model.AccountGroups.Any())
            {
                foreach (var group in Model?.AccountGroups)
                {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>
                                        Group Name
                                    </th>
                                    <th>
                                        Group Number
                                    </th>
                                    <th>
                                        Begin Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                    <th>
                                        Mortgage or Account Number
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @group.GROUP_NAME
                                    </td>
                                    <td>
                                        @group.GROUP_NO
                                    </td>
                                    <td>
                                        @group.BEGIN_DT
                                    </td>
                                    <td>
                                        @group.END_DT
                                    </td>
                                    <td>
                                        @group.GRP_ACCT_NO
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Contact</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.CONTACT_NAME">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Phone</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.PHONE">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Street Address</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.STREET_ADDR">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        @{
                                            if (group.MAIL_TS_FLAG == 'Y')
                                            {
                                                <label class="btn btn-dark active">
                                                    <input type="radio" name="options" id="option1" checked> Mail Tax Statement
                                                </label>
                                                <label class="btn btn-dark">
                                                    <input type="radio" name="options" id="option2"> Don't Mail Tax Statement
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-dark">
                                                    <input type="radio" name="options" id="option1"> Mail Tax Statement
                                                </label>
                                                <label class="btn btn-dark active">
                                                    <input type="radio" name="options" id="option2" checked> Don't Mail Tax Statement
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="@group.MISC_LINE2">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        @{
                                            if (group.MORTGAGE_FLAG == 'Y')
                                            {
                                                <label class="btn btn-dark active">
                                                    <input type="radio" name="options" id="option1" checked> Mortgage Company
                                                </label>
                                                <label class="btn btn-dark">
                                                    <input type="radio" name="options" id="option2"> No Mortgage Company
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-dark">
                                                    <input type="radio" name="options" id="option1"> Mortgage Comapny
                                                </label>
                                                <label class="btn btn-dark active">
                                                    <input type="radio" name="options" id="option2" checked> No Mortgage Company
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">City</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.CITY">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">State</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.STATE">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Zip Code</span>
                                    </div>
                                    <input type="text" class="form-control" value="@group.ZIP_CODE">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <button type="button" class="btn btn-secondary col-12">Tax Service</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <button type="button" class="btn btn-secondary col-12">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No account group found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="notices" role="tabpanel" aria-labelledby="notices-tab">
        @{
            if (Model.Notices.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>
                                    Notice type
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Notice Date
                                </th>
                                <th>
                                    Notice Generation Date
                                </th>
                                <th>
                                    Suppress
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var notice in Model?.Notices)
                                {

                                    <tr>
                                        <td>
                                            @notice.DESCRIPTION
                                        </td>
                                        <td>
                                            @notice.NAME
                                        </td>
                                        <td>
                                            @notice.NOTICE_DT
                                        </td>
                                        <td>
                                            @notice.NOTICE_GENERATION_DT
                                        </td>
                                        <td>
                                            @notice.SUPPRESS_FLAG
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No notices found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
        @{
            if (Model.Sales.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped mt-3">
                        <thead>
                            <tr>
                                <th>
                                    Excise Number
                                </th>
                                <th>
                                    Excise Document Date
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Invalid Code
                                </th>
                                <th>
                                    Primary Parcel
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var sale in Model?.Sales)
                                {
                                    <tr>
                                        <td>
                                            @sale.EXCISE_NO
                                        </td>
                                        <td>
                                            @sale.DOCUMENT_DT
                                        </td>
                                        <td>
                                            @sale.PRICE
                                        </td>
                                        <td>
                                            @sale.INVALID_CODE
                                        </td>
                                        <td>
                                            @sale.PRIMARY_PARCEL
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No sales found for this account.
                </div>
            }

        }
    </div>
    <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="tags-tab">
        @{
            if (Model.Tags.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped mt-3">
                        <thead>
                            <tr>
                                <th>
                                    Tag Code
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Begin Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    Removed Flag
                                </th>
                                <th>
                                    Temp
                                </th>
                                <th>
                                    No State
                                </th>
                                <th>
                                    Que State
                                </th>
                                <th>
                                    Transfer
                                </th>
                                <th>
                                    Alert
                                </th>
                                <th>
                                    Lock Account
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var tag in Model?.Tags)
                                {
                                    <tr>
                                        <td>
                                            @tag.TAG_CODE
                                        </td>
                                        <td>
                                            @tag.DESCRIPTION
                                        </td>
                                        <td>
                                            @tag.BEGIN_DT
                                        </td>
                                        <td>
                                            @tag.END_DT
                                        </td>
                                        <td>
                                            @tag.REMOVED_BY
                                        </td>
                                        <td>
                                            @tag.TEMP_FLAG
                                        </td>
                                        <td>
                                            @tag.NO_STATEMENT_FLAG
                                        </td>
                                        <td>
                                            @tag.QUE_STATEMENT_FLAG
                                        </td>
                                        <td>
                                            @tag.TRANSFER_FLAG
                                        </td>
                                        <td>
                                            @tag.ALERT_FLAG
                                        </td>
                                        <td>
                                            @tag.LOCK_ACCT_FLAG
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No tags found on this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="buildings" role="tabpanel" aria-labelledby="buildings-tab">
        @{
            if (Model.Buildings.Any())
            {
                foreach (var dwelling in Model?.Buildings)
                {
                    <div class="form-group mt-3">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Building</span>
                                    </div>
                                    @{
                                        var count = $"{dwelling.BLDGNO} of {dwelling.BLDGS}";
                                    }
                                    <input type="text" class="form-control" value="@count">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tax Value</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.TAX_VALUE">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Year Built</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.YEAR_BUILT">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Bedroom</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.DECKSF">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Deck Area</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.NUMBDRMS">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Building Type</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.BLDGTYPE">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Basement Area</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.BSMTAREA">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Half Bathroom</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.NUMBDRMS">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Stories</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.STORIES">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Finished Basement Area</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.BSMTFIN">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Full Bathroom</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.FBATHS">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Roof Material</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.ROOFMATD">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Detacted Garage Area</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.DETGARSF">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fireplace</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.FIREPLACES">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Wall Cover</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.WALL_COVER">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Attached Garage Area</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.ATTGARSF">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Heating</span>
                                    </div>
                                    <input type="text" class="form-control" value="@dwelling.HEATDESC">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No buildings found for this account.
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="prepaycontact" role="tabpanel" aria-labelledby="prepaycontact-tab">
        @{
            if (Model.CrmContacts.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped mt-3">
                        <thead>
                            <tr>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Active
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var crm in Model?.CrmContacts)
                                {
                                    <tr>
                                        <td>
                                            @crm.CRM_EMAIL
                                        </td>
                                        <td>
                                            @crm.CRM_LASTNAME
                                        </td>
                                        <td>
                                            @crm.CRM_FIRSTNAME
                                        </td>
                                        <td>
                                            @crm.CRM_NOTIFY_FLAG
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No prepayments found for this account.
                </div>
            }
        }
    </div>
</div>
