@model DarkHorse.Mvc.Models.ChangeHistoryDetail;

@{
    ViewData["Title"] = "ATS Change History";
    // This page is a direct recreation of
    // LISRPASACCTFILTER
}

<p class="display-4 pr-3">🏠 Real Property Account</p>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Account</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.ACCT_NO" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Process #</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.RP_ACCT_ID" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        switch (Model.Account.WORK_GROUP)
                        {
                            case "RS":
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option1"> Commerical
                                </label>
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option2" checked> Residential
                                </label>
                                break;
                            case "CM":
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" checked> Commerical
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2"> Residential
                                </label>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Reference Date</span>
                </div>
                <input type="datetime-local" class="form-control" value="@Model?.Account?.REFERENCE_DT?.ToString("yyyy-MM-ddThh:ss")">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">

                <div class="input-group-prepend">
                    <span class="input-group-text">Inactive Date</span>
                </div>
                <input type="datetime-local" class="form-control" value="@Model?.Account?.INACTIVE_DT?.ToString("yyyy-MM-ddThh:ss")">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Section Township Range</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.SEC_TWN_RNG">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Quarter Section</span>
                </div>
                @{
                    if (Model?.Account?.QUARTER_SECTION != null)
                    {
                        switch (Model?.Account?.QUARTER_SECTION)
                        {
                            case "NE":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option selected="selected">NE</option>
                                    <option>NW</option>
                                    <option>SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "NW":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option selected="selected">NW</option>
                                    <option>SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "SE":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option>NW</option>
                                    <option selected="selected">SE</option>
                                    <option>SW</option>
                                </select>
                                break;
                            case "SW":
                                <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                                    <option></option>
                                    <option>NE</option>
                                    <option>NW</option>
                                    <option>SE</option>
                                    <option selected="selected">SW</option>
                                </select>
                                break;
                        }
                    }
                    else
                    {
                        <select asp-for="Account.QUARTER_SECTION" class="form-control" title="Quarter Section">
                            <option></option>
                            <option>NE</option>
                            <option>NW</option>
                            <option>SE</option>
                            <option>SW</option>
                        </select>
                    }
                }
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Map Number</span>
                    </div>
                    <input type="text" class="form-control" value="@Model.Account.MAP_NO">
                    @*This won't work unless the tax maps are avalible via https*@
                    <a class="btn btn-info" role="button" href="ftp://kcftp2.co.kitsap.wa.us/assr/taxmaps/t251e(l)/l23s.pdf" target="_blank" rel="noreferrer">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Neighborhood Code</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.NEIGHBORHOOD_CODE">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tax Service</span>
                </div>
                <input type="text" class="form-control" value="" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zone</span>
                </div>
                <input type="text" class="form-control" value="" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Personal Property</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.PP_AS_RP_FLAG">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="btn-group col-4">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Details
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Real" asp-action="TaxYears" asp-route-id="@Model.Account.RP_ACCT_ID">Tax Year</a>
                <a class="dropdown-item" href="#">Account History by Owner</a>
                <a class="dropdown-item" href="#">Associated Accounts</a>
                <a class="dropdown-item" href="#">Cadastral</a>
                <a class="dropdown-item" href="#">Foreclosure</a>
                <a class="dropdown-item" href="#">Local Improvement District</a>
                <a class="dropdown-item" href="#">Receipts and Refunds</a>
                <a class="dropdown-item" href="#">Senior Citizen</a>
                <a class="dropdown-item" href="#">Destroyed Property Exemption</a>
                <a class="dropdown-item" href="#">Distraints</a>
                <a class="dropdown-item" href="#">Three Year Exemption</a>
            </div>
        </div>
        <a class="btn btn-info col-4" asp-controller="Real" asp-action="ChangeHistory" role="button">ATS Change History</a>
    </div>
</div>
<p class="display-4 pr-3">📜 ATS Change History</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Change Number
                </th>
                <th>
                    Change Type
                </th>
                <th>
                    Change Date
                </th>
                <th>
                    User
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var history in Model?.Histories)
                {
                    <tr>
                        <td>
                            @history.AHST_NUM
                        </td>
                        <td>
                            @history.AHST_TYPE
                        </td>
                        <td>
                            @history.AHST_DT
                        </td>
                        <td>
                            @history.AHST_USER
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Comment Type
                </th>
                <th>
                    Begin Date
                </th>
                <th>
                    Remark
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var comment in Model?.Remarks)
                {
                    <tr>
                        <td>
                            @comment.RMK_CD
                        </td>
                        <td>
                            @comment.BEGIN_DT
                        </td>
                        <td>
                            @comment.REMARKS
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>