@model DarkHorse.Mvc.Models.RealAccountTaxYearsDetail;

@{
    ViewData["Title"] = "Real Property Account Tax Years";
    // This page is a direct recreation of
    // LISRPASACCTYR
}

<p class="display-4 pr-3">🏠 Real Property Account Tax Years</p>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Account</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.ACCT_NO" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Process #</span>
                </div>
                <input type="text" class="form-control" value="@Model.Account.RP_ACCT_ID" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Taxpayer</span>
                </div>
                <input type="text" class="form-control" value="" readonly>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Tax Code
                    </th>
                    <th>
                        Tax Rate
                    </th>
                    <th>
                        Taxable Average Value
                    </th>
                    <th>
                        Prorate Start Date
                    </th>
                    <th>
                        Prorate End Date
                    </th>
                    <th>
                        Total Billed
                    </th>
                    <th>
                        Total Paid
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var year in Model?.TaxYears)
                    {
                        <tr>
                            <td>
                                @year.TAX_YR
                            </td>
                            <td>
                                @year.TAX_STATUS
                            </td>
                            <td>
                                @year.TAX_CODE.ToString("D0")
                            </td>
                            <td>
                                @*TODO: Tax Rate*@
                            </td>
                            <td>
                                @year.TAXABLE_AV.ToString("D0")
                            </td>
                            <td>
                                @year.PRORATE_START_DT
                            </td>
                            <td>
                                @year.PRORATE_END_DT
                            </td>
                            <td>
                                @year.ADJ_TAX_BILLED
                            </td>
                            <td>
                                @year.RP_TAX_PAID
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="taxyear-tab" data-toggle="tab" href="#taxyear" role="tab" aria-controls="home" aria-selected="true">
                Tax Year
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="balance-tab" data-toggle="tab" href="#balance" role="tab" aria-controls="home" aria-selected="true">
                Balance
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="exemptions-tab" data-toggle="tab" href="#exemptions" role="tab" aria-controls="home" aria-selected="true">
                Exemptions
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="assessments-tab" data-toggle="tab" href="#assessments" role="tab" aria-controls="home" aria-selected="true">
                Assessments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="adjustments-tab" data-toggle="tab" href="#adjustments" role="tab" aria-controls="home" aria-selected="true">
                Adjustments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="prepayment-tab" data-toggle="tab" href="#prepayment" role="tab" aria-controls="home" aria-selected="true">
                Prepayment
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="delinquent-tab" data-toggle="tab" href="#delinquent" role="tab" aria-controls="home" aria-selected="true">
                Delinquent
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="taxyear" role="tabpanel" aria-labelledby="taxyear-tab">
            <div class="form-group mt-3">
                <div class="form-row">
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tax Year</span>
                            </div>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tax Status</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tax Code</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Sr. Citizen Rate</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-row">
                    <div class="col-3">
                        <div class="input-group">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Publicly Owned
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Federally Owned
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Non-Profit
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> State Assessed
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-row">
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Property Class</span>
                            </div>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Parcel Acreage</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <a class="btn btn-block btn-secondary" href="#">Prorate Tax Year</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Land Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group  pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Land Market Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group  pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Improvements Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">New Construction Amount</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group pt-3">
                            <a class="btn btn-secondary" href="#">Override Values</a>
                            <div class="btn-group-toggle pl-3" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Overridden
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Frozen Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Market Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Assessed Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Taxable Average Value</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group pt-3">
                            <a class="btn btn-secondary" href="#">Override Values</a>
                            <div class="btn-group-toggle pl-3" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Overridden
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group pb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tax Billed</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <a class="btn btn-secondary" href="#">Override Values</a>
                            <div class="btn-group-toggle pl-3" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked> Overridden
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card invisible">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="balance" role="tabpanel" aria-labelledby="balance-tab">
            <div class="table-responsive pt-3">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Billed
                            </th>
                            <th>
                                Paid
                            </th>
                            <th>
                                Refunded
                            </th>
                            <th>
                                Advance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Tax
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stormwater Management
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FFP
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nox Weed
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Other Assessments
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Penalty
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Interest
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Totals
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-info text-light" role="button" herf="#">
                Amount Owing
            </a>
            <a class="btn btn-secondary text-light" role="button" herf="#">
                Receipts/Refunds
            </a>
            <a class="btn btn-danger text-light" role="button" herf="#">
                Create Refund Record
            </a>
            <a class="btn btn-warning text-light" role="button" herf="#">
                Calc Prepayments
            </a>
        </div>
        <div class="tab-pane fade" id="exemptions" role="tabpanel" aria-labelledby="exemptions-tab">
            <div class="table-responsive pt-3">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Exemption Type
                            </th>
                            <th>
                                Exempt Description
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Review Year
                            </th>
                            <th>
                                Override
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group mt-3">
                <div class="form-row">
                    <div class="col-3">
                        <div class="input-group">
                            <a class="btn btn-block btn-primary" role="button" href="#">Details</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <a class="btn btn-block btn-danger" role="button" href="#">Override Value</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Total Exemptions</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="assessments" role="tabpanel" aria-labelledby="assessments-tab">
            <div class="card-deck pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Stormwater Management Type</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Impervious Surface Building</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Billed</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Stormwater Management Type</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Impervious Surface Other</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Paid</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary active">
                                                    <input type="checkbox" checked> Overridden
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Measured Date</span>
                                            </div>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Refund</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="checkbox" checked>Stormwater Overridden
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-primary" role="button" href="#">Stormwater Rates</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-danger" role="button" href="#">Override Stormwater</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="checkbox" checked> FFP Agreement
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">FFP Acres</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Billed</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Stormwater Management Type</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">FFP Rate</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Paid</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary active">
                                                    <input type="checkbox" checked> Overridden
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Measured Date</span>
                                            </div>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Refund</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="checkbox" checked> FFP Overridden
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-primary" role="button" href="#">FFP Rates</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-danger" role="button" href="#">Override FFP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Noxious Weed Type</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Parcel Acreage</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Billed</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Stormwater Management Type</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4 invisible">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Impervious Surface Other</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Paid</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-row">
                                    <div class="col-4">
                                        <div class="input-group invisible">
                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary active">
                                                    <input type="checkbox" checked> Noxious Weed Overridden
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group invisible">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Measured Date</span>
                                            </div>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Refund</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="checkbox" checked> Noxious Weed Overridden
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-primary" role="button" href="#">Stormwater Rates</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-danger" role="button" href="#">Override Stormwater</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Assessment Type
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Billed
                                        </th>
                                        <th>
                                            Paid
                                        </th>
                                        <th>
                                            Refund
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group mt-3">
                            <div class="form-row">
                                <div class="col-9 invisible">
                                    <div class="input-group">
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="checkbox" checked> Noxious Weed Overridden
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <a class="btn btn-block btn-danger" role="button" href="#">Assessment Types</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="adjustments" role="tabpanel" aria-labelledby="adjustments-tab">
            this text
        </div>
        <div class="tab-pane fade" id="prepayment" role="tabpanel" aria-labelledby="prepayment-tab">
            this text
        </div>
        <div class="tab-pane fade" id="delinquent" role="tabpanel" aria-labelledby="delinquent-tab">
            this text
        </div>
    </div>
